body{
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #fff;
}
.navjog{
    width: 132px;
    height: 132px;
    background-image: url("C:/Users/Sydney/Documents/javascript-youtube/jogo-nave/nave.gif");
    position: absolute;
}
.telamsg{
    position: absolute;
    margin-left: -25%;
    top: 50px;
    left: 50px;
    width: 720px;
    height: 621px;
    display: none;
}
#medidorplaneta{
    border: 2px solid #000;
    width: 300px;
    height: 20px;
    background-color:#fff;
}

#barraplaneta{
    width: 300px;
    height: 20px;
    background-color:#55f;
}
.tirojog{
    width: 6px;
    height: 6px;
    background-color: #000;
    border-radius: 6px;
    position: absolute;
}
.bomba{
    width: 160px;
    height: 120px;
    background-image: url("C:/Users/Sydney/Documents/javascript-youtube/jogo-nave/bomba.gif");
    position: absolute;

}
.explosaochao{
    width: 192px;
    height: 192px;
    position: absolute;
}
.explosaoar{
    width: 360px;
    height: 351px;
    position: absolute;
}
.telamsg{
    position: absolute;
    margin-left: -25%;
    top: 50px;
    left: 50px;
    width: 720px;
    height: 621px;
    display: none;
}